*{
	padding: 0;
	margin: 0;
}
body {
	padding-top: 88px;
	background-image: url(giphy.gif);
}
.texto__registro{
	background-color: white; 
	margin-left: 650px;
	padding-bottom: 10px;
	margin-right: 670px;
	font-family: system-ui;
}
.enlaces{
	background-color: #40CFFF;
	position: fixed;
	margin-top: -88px;
	display: inline;
	width: 100%;
	transition: 1.0s;
}
.form{
	border-radius: 10px;
	background-color: #FFFFFF;
	padding: 20px;
	margin-left: 650px;
	padding-bottom: 40px;
	margin-right: 670px;
}
.form__texto{
	font-family: serif;
}
.texto__registro{
	font-family: serif;
	border-radius: 10px;
	padding: 5px;
}
.enlaces__1{
	font-size: 1.1em;
	transition: 1.0s;
	padding: 9px;
}
.enlaces__1:hover{
	background-color: #FFFF00;
	font-size: 2.250em;
	transition: 1.0s;
}
.texto__enlace{
		color: black;
		text-decoration: none;
}
.texto__enlace:hover{
		color: white;
}
li {
	display: inline-block;
}
.contactar{
	transition-duration: 1.0s;
}
.contactar:hover{
	background-color: green;
	transition-duration: 1.0s;
}
.texto__enlace_3:hover{
	color: white;
}